<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="FPstyles.css">
</head>
<body>
    <table id="scoreboard">
        <tr>
            <th>Player Name</th>
            <th>PC Name</th>
            <th>Wins</th>
        </tr>
        <tr>
            <td>?</td>
            <td>?</td>
            <td>?</td>
        </tr>
        <tr>
            <td>?</td>
            <td>?</td>
            <td>?</td>
        </tr>
        <tr>
            <td>?</td>
            <td>?</td>
            <td>?</td>
        </tr>
    </table>
   


    <div class="center">
        <button onclick="location.href='Final ProjectV2.html'">Back to Game</button>
      </div>
</body>
</html>
