<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Final Project Scoreboard</title> 
    <link rel="stylesheet" type="text/css" href="CSS/FPstyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="w3-container w3-blue-grey">
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Player Name</th>
                <th>PC Name</th>
                <th>Winner</th>
            </tr>
            </thead>
            <tbody>
                <% scoreboard.forEach(row => { %>
                    <tr>
                    <td><%= row.player_name %></td>
                    <td><%= row.computer_name %></td>
                    <td><%= row.winner %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div> 
<div>
    <button onclick="location.href='/'" class="back2game" >Back to Game</button>
</div>

</body>
</html>